/* ==========================================================================
	* Template Name: BlueNOC
	* Description: 
	* Version: 0.5.3a
	* Author:  George Chatzopoulos
	* Website: http://georgechatzopoulos.me
========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic,700,900,500,400italic&subset=latin,greek);

* 
{ 
    font-family: 'Roboto';
}

body 
{
	position: relative;
	margin: 0;
	background-color: #EEEEEE;
    margin-top: -10px;
	background-image: url(assets/images/icons/dotPatternE0E0E0.png);
    background-size: 16px;
}