.contentBackground
{
    overflow: hidden;
}

#content .column.column-12
{
    height: 600px;
    color: #00796B;
}

#content .column.column-12 h1
{
    font-weight: 300;
    font-size: 275%;
}

#content .column.column-12 .sadface
{
    width: 200px;
    height: 260px;
    right: 25px;
    bottom: 0;
    font-size: 200px;
    position: absolute;
    transform: rotate(45deg);
    font-weight: 800;
}

#content .column .title
{
    width: 140px;
    height: 50px;
    background-color: #00796B;
    color: white;
    text-align: center;
    transform: skew(45deg);
    margin-left: 16px;
}

#content .column .title h4
{
    transform: skew(-45deg);
    font-size: 56px;
    font-weight: 100;
    padding-top: 5px;
}

#content .column .body 
{
    margin-top: 16%;
    margin-left: 20px;
    padding-right: 20px;
    text-align: center;
}