#wpcf7-f11-p12-o1 > form > p:nth-child(6) > input
{
	width: 25%; /* taking into account the margin from it's parent' */
	margin: 0;
	margin-left: 70%; /* taking into account the margin from it's parent' */
	height: 40px;
	background-color: #00796B;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	transition: ease .2s all;
}

#wpcf7-f11-p12-o1 > form > p:nth-child(6) > input:hover
{
	background-color: #4DB6AC;
}

#wpcf7-f11-p12-o1 > form > p:nth-child(6)
{
	margin: 0px;
	margin-bottom: -5px;
}

/* TODO: Update selectors with proper selectors (duh!) */