.column .item
{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 10px;
}

.column .title
{
    width: 60%;
    min-width: 250px;
    display: inline-block;
}

.column .title h4 
{
    padding-left: 0px;
    margin-left: -14px;
    text-align: left;
    display: inline-block;
    margin-right: 8px;
}

.column .title #searchform
{
    display: inline;
    margin-right: -36%;
}

.column .title #searchform .item_searchbox 
{
    display: inline-block;
    vertical-align: bottom;
    width: 56%;
    height: 100%;
    margin-top: -3px;
    font-size: 18px;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
}

.column .title #searchform .item_searchbox_submit 
{
    width: 46px;
    height: 46px;
    margin-left: -4px;
    margin-right: 0px;
    background-color: #004D40;
    border: none;
    vertical-align: bottom;
    margin-top: -3px;
    color: white;
    cursor: pointer;
    transition: all .4s ease;
    background-image: url(../../assets/images/icons/ic_search_white_48px.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.column .title #searchform .item_searchbox_submit:hover
{
    background-color: #00695C;
}

.column .item .itemTitle .collapseButton
{
    width: 20px;
    height: 20px;
    background-color: #00796B;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    transition: background-color .4s ease;
}

.column .item .itemTitle .collapseButton:hover
{
    background-color: #00897B;
}

.column .item .itemTitle
{
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px dashed #00796B;
}

.column .item .itemBody
{
    display: none;
    font-weight: 300;
    float: right;
    width: 97%;
}

.column .item .itemBody a
{
    text-decoration: none;
    color: #00796B;
    transition: all .4s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    margin-right: 5%;
    float: right;
}

.column .item .itemBody a:hover
{
    border-bottom: 1px solid #00796B;
}

.column .item .itemBody .guide .body
{
    display: none;
}

/* * * * * RESPONSIVE CODE SPACE * * * * */

@media screen and (max-width: 900px) {
    .column .title h4 
    {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .column .title
    {
        width: 85%;
    }
    
    .column .cardButton
    {
        width: 36px;
    }
    
    .column .cardButton.link
    {
        background-position: -4px -7px;
    }
    
    .column .cardButton.link a
    {
        color: rgba(0,0,0,0);
    }
}