#content 
{
    margin-left: 28px;
    margin-top: 65px;
    width: calc(100% - 500px);
    min-height: 800px; /* TODO: use apropriate height to scale from screen width */
    z-index: 1;
    transition: all .4s ease-in-out;
}

.backToTopButton
{
    position: fixed;
    display: none;
    right: 410px;
    bottom: 0;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #C51162;
    background-image: url(../../assets/images/icons/ic_keyboard_arrow_up_white_48dp_2x.png);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-size: cover;
    color: white;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;
}

.materialOverlay 
{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 200;
    background-color: rgba(227, 242, 253, 0.75);
    display: none;
}

.materialOverlay .materialFrame
{
    margin-left: 25%;
    margin-top: 20px;
    z-index: 201;
    width: 50%;
    height: 95%;
    color: #E3F2FD;
    background: #1565c0;
    background: -moz-linear-gradient(-45deg,  #1565c0 0%, #1565c0 72%, #1e88e5 72%, #1e88e5 100%);
    background: -webkit-linear-gradient(-45deg,  #1565c0 0%,#1565c0 72%,#1e88e5 72%,#1e88e5 100%);
    background: linear-gradient(135deg,  #1565c0 0%,#1565c0 72%,#1e88e5 72%,#1e88e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1565c0', endColorstr='#1e88e5',GradientType=1 );
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.materialOverlay .materialFrame .head
{
    width: 100%;
    height: 60px;
    background-color: rgba(187, 222, 251, 0.25);
    border-bottom: solid 6px rgba(0, 0, 0, 0.25);
}

.materialOverlay .materialFrame .head .title
{
    width: calc(100% - 64px);
    display: inline-block;
    text-align: center;
    font-size: 46px;
    line-height: 60px;
    text-transform: uppercase;
    color: #E3F2FD;
    height: 60px;
}

.materialOverlay .materialFrame .head .closeBtn
{
    width: 60px;
    display: inline-block;
    text-align: center;
    font-size: 54px;
    text-transform: uppercase;
    height: 60px;
    background-color: rgba(227, 242, 253, 0.25);
    color: rgb(227, 242, 253);
    cursor: pointer;
    transition: all .2s ease;
    font-size: 45px;
    line-height: 60px;
    vertical-align: bottom;
}

.materialOverlay .materialFrame .head .closeBtn:hover
{
    color:#1565c0;
    background-color: #90CAF9;
}

.materialOverlay .materialFrame .body
{
    font-size: 20px;
    overflow-y: auto;
    position: relative;
    height: calc(100% - 60px);
    padding-left: 12.5px;
    padding-right: 12.5px;
    text-align: justify;
}

.materialOverlay .materialFrame .body a
{
    color: #FFAB00;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease;
}

.materialOverlay .materialFrame .body a:hover
{
    color: #FFD740;
}

/* * * * * RESPONSIVE CODE SPACE * * * * */

@media screen and (max-width: 1440px) {
    #content {
        width: calc(100% - 50px);
    }
    
    .backToTopButton
    {
        right: 88px;
    }
    
    .materialOverlay .materialFrame
    {
        margin-left: 20%;
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .materialOverlay .materialFrame
    {
        margin-left: 15%;
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    #content 
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .materialOverlay .materialFrame
    {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
    
    .materialOverlay .materialFrame .head .title
    {
        font-size: 28px;
        line-height: 60px;
    }
}

@media screen and (max-width: 400px) {
    .materialOverlay .materialFrame .head .title
    {
        font-size: 16px;
        line-height: 60px;
    }
}