/* * * * * INK EFFECT * * * * */
.ink 
{
    display: block; 
    position: fixed;
    background: white;
    border-radius: 100%;
    transform: scale(0);
    z-index: 100;
}

.ink.animate 
{
    animation: ripple 0.5s linear;
}

@keyframes ripple 
{
	100% { opacity: 0; transform: scale(2.5); }
}

/* * * * * ANIMATIONS * * * * */

@keyframes refreshButtonAnim
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}