#footer
{
    background-color: #263238;
    width: 100%;
    height: 200px;
    position: absolute;
    margin-bottom: 0;
    left: 0;
    z-index: -1;
}

#footer .menu
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

#footer .menu li:last-child
{
    border-right: none;
}


#footer .menu li
{
    display: inline;
    margin-right: 5px;
    border-right: dotted 3px rgba(255,255,255,0.1);
    padding-right: 10px;
}

#footer a
{
    text-decoration: none;
    color: lightgray
}

#footer a:visited
{
    text-decoration: none;
    color: lightgray
}

#footer .container
{
    width: calc(100% - 440px);
    height: 50%;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 420px;
    transition: all .4s ease-in-out;
}

#footer .container .blockleft,
#footer .container .blockright
{
    display: inline-block;
    height: 100%;
    float: left;
    line-height: 18px;
    transition: all .4s ease-in-out;
    opacity: 0.8;
}

#footer .container .blockleft
{
    margin-left: calc(25% - 155px);
    width: 200px;
    margin-right: 10px;
    background: url(../images/logo_sprite.png) -2px 510px;
    background-size: 405px;
}

#footer .container .blockleft:hover,
#footer .container .blockright:hover
{
    opacity: 1;
}

#footer .container .blockright
{
    width: calc(75% - 400px);
    border-left: solid 1px rgba(255,255,255,0.1);
    padding-left: 10px;
}

/* * * * * RESPONSIVE CODE SPACE * * * * */

@media screen and (max-width: 1440px) {
    #footer .container 
    {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 1024px) {
    #footer .container .blockleft 
    {
        margin-left: initial;   
    }
    #footer .container .blockright 
    {
        width: initial;
    }
    #footer .container 
    {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    #footer .container .blockleft 
    {
        display: none;
    }    
    
    #footer .container .blockright 
    {
        width: 100%;
        margin-left: -20px;
        border-left: none;
    }
}