.row:before,
.row:after 
{
    content: " ";
    display: table;
}

.row:after 
{
    clear: both;
}

.column 
{
    position: relative;
    float: left;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease;
    margin-bottom: 40px;
}

.column .title
{
    width: 80%;
    height: 40px;
    background-color: #00796B;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-left: 15px;
    margin-top: -15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.column .title h4
{
    font-weight: 100;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.column .body
{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    padding-right: 20px;
    text-align: justify;
}

.column .cardButton
{
    display: block;
    float: right;
    right: 0px;
    margin-bottom: 0px;
    width: 140px;
    height: 32px;
    margin-top: 20px;
    cursor: pointer;
}

.column .cardButton.link
{
    background-color: #00796B;
    background-image: url(../../assets/images/icons/ic_keyboard_arrow_right_white_48px.svg);
    background-repeat: no-repeat;
    background-position: 100px -7px;
    transition: all .2s ease-in-out;
}

.column .cardButton.link.right
{
    background-image: url(../../assets/images/icons/ic_keyboard_arrow_left_white_48px.svg);
    background-repeat: no-repeat;
    background-position: -6px -7px;
    float: left;
}

.column .cardButton.link.right a
{
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    font-weight: 100;
    font-size: 24px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 42px;
    line-height: 30px;
}

.column .cardButton.link:hover
{
    background-color: #26A69A;
}

.column .cardButton.link a
{
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    font-weight: 100;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
    line-height: 30px;
}

.column + .column 
{
    margin-left: 1.6%;
}

.column-1 
{
    width: 6.86666666667%;
}

.column-2 
{
    width: 15.3333333333%;
}

.column-3 
{
    width: 23.8%;
}

.column-4 
{
    width: 32.2666666667%;
}

.column-5 
{
    width: 40.7333333333%;
}

.column-6 
{
    width: 49.2%;
}

.column-7 
{
    width: 57.6666666667%;
}

.column-8 
{
    width: 66.1333333333%;
}

.column-9 
{
    width: 74.6%;
}

.column-10 
{
    width: 83.0666666667%;
}

.column-11 
{
    width: 91.5333333333%;
}

.column-12 
{
    width: 100%;
}

/* * * * * RESPONSIVE CODE SPACE * * * * */

@media screen and (max-width: 900px) {
    
    .column
    {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .column + .column 
    {
        margin-left: 0px;   
    }
}