#main_navbar 
{
	width: 900px;
	height: 80px;
	background-color: #0277BD;
	left: 0px;
	top: 0px;
	position: relative; /* TODO: test the Fix of navbar to use relative position so rest of the page elements use correct position references */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 3;
    transition: all .4s ease-in-out;
}

#main_navbar .header-menu.main 
{
    list-style: none;
    margin-top: 10px;
    margin-left: 203px;
    width: 710px;
    padding: 0;
    background-color: #03A9F4;
}

#main_navbar .header-menu.main .sub-menu
{
    position: absolute;
    width: 115px;
    z-index: 2;
    display: none;
    background-color: #0D47A1;
    margin: 0px;
    padding-left: 0px;
}

#main_navbar .header-menu.main li > a:after {
    content: ' ▾';
}

#main_navbar .header-menu.main li > a:only-child:after {
    content: '';
}   

#main_navbar .logo 
{
    width: 200px;
    height: 96px;
    background-image: url(../../assets/images/logo_sprite.png);
    background-size: 390px;
    background-position-x: 3px;
    background-repeat: no-repeat;
    z-index: 4;
    top: 30px;
    position: absolute;
	float: left;
	z-index: 4;
	position: absolute;
    cursor: pointer;
    transition: width .5s ease, background-size .5s ease, height .5s ease;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#main_navbar .logo .refresh_anim
{
    width: 32px;
    left: 36px;
    top: 33px;
    height: 32px;
    border-radius: 50%;
    background-color: #0277BD;
    background-image: url(../../assets/images/icons/refresh.png);
    background-size: cover;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
    animation-name: refreshButtonAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#main_navbar .logo .refresh_anim.active
{
    opacity: 1;
}

#main_navbar .logo .mask 
{
    width: 0px;
    height: 96px;
    background-image: url(../../assets/images/logo_sprite.png);
    background-size:  390px;
    background-position: -192px -98px;
    background-repeat: no-repeat;
    z-index: 5;
    position: absolute;
	float: left;
	z-index: 4;
	position: absolute;
    transition: all .4s ease-in-out;
    cursor: pointer;
    opacity: 0.75;
    transition: width 2s ease-out;
}

#main_navbar .logo .mask.active
{
    width: calc(100% - 8px);
}

#main_navbar .logo:hover
{
    background-image: url(../../assets/images/logo_sprite.png) 1015px 0px;;
    background-size: 390px;
    background-position-x: -192px;
    background-repeat: no-repeat;
}

#main_navbar .sandwich
{
    width: 80px;
    height: 80px;
    float: right;
    line-height: 85px;
    color: white;
    text-decoration: none;
    display: none;
    position: absolute;
    right: 0px;
    font-size: 65px;
    z-index: 4;
    background-color: #03A9F4;
    text-align: center;
    overflow: hidden;
}

#main_navbar .header-menu.main li 
{
    width: 115px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
}

#main_navbar .header-menu.main li:hover 
{
    background-color: #40C4FF;
}

#main_navbar .header-menu.main a 
{
	text-decoration: none;
	color: white;
    width: 115px;
    height: 70px;
    display: inline-block;
    text-transform: uppercase;
}

#main_navbar .header-menu.main a:visited 
{
	text-decoration: none;
	color: white;
}

@-moz-document url-prefix() {
    #main_navbar .logo
    {
        width: 196px;
    }
    
    #main_navbar .logo:hover
    {
        background-position: -195px 0px;
    }
    
    #main_navbar .logo .mask 
    {
        background-position: -195px -98px;
    }
    
    #main_navbar .logo .refresh_anim 
    {
        left: 33px;
    }
}

/* * * * * RESPONSIVE CODE SPACE * * * * */

@media screen and (max-width: 1024px) {
    #main_navbar  
    {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    #main_navbar .sandwich
    {
        display: inline-block;
    }
    
    #main_navbar .header-menu.main li
    {
        width: 100%; 
        margin-left: 0;
        height: 80px;
        line-height: 80px;
        margin-right: 0px;
        background-color: initial;
    }
    
    #main_navbar .header-menu.main li a 
    {
        width: 100%;
        height: 80px;
    }
    
    #main_navbar .header-menu.main
    {
        background-color: #03A9F4;
        display: inline-table;
        width: 100%;
    }
    
    #main_navbar .logo 
    {
        height: 64px;
        width: 130px;
        background-size: 260px;
        background-position-x: 2px;
        background-repeat: no-repeat;
        top: 12px;
    }
    
    #main_navbar .logo:hover 
    {
        height: 64px;
        width: 130px;
        background-size: 260px;
        background-position-x: -128px;
        background-repeat: no-repeat;
        top: 12px;
    }
    
    #main_navbar .logo .mask 
    {
        height: 64px;
        background-position: -128px -65px;
        background-size: 260px;
    }
    
    #main_navbar .logo .mask.active
    {
        width: 128px;
    }
    
    #main_navbar .header-menu.main 
    {
        margin-left: 0;
        padding-left: 0;
        line-height: 80px;
        height: 80px;
    }
    
    #main_navbar .hmenu
    {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 3;
    }
    
    #main_navbar .header-menu.main .sub-menu 
    {
        position: relative;
        width: 100%;
        z-index: 3;
    }
    
    #main_navbar .logo .refresh_anim {
        width: 20px;
        left: 25px;
        top: 23px;
        height: 20px;
    }
    
    @-moz-document url-prefix() {
        #main_navbar .logo .mask 
        {
            height: 64px;
            background-position: -130px -65px;
            background-size: 260px;
        }
        
        #main_navbar .logo:hover
        {
            height: 64px;
            background-size: 260px;
            background-position: -130px 0;
            background-repeat: no-repeat;
            top: 12px;
        }
        
        #main_navbar .logo .refresh_anim
        {
            left: 23px;
        }
    }
}