.webglviewport
{
    width: 100%;
    height: 600px;
}

.webglviewport p
{
    line-height: 64px;
    position: absolute;
    text-align: left;
    font-size: 2em;
    margin-left: 2%;
    color: #00796B;
    font-weight: 500;
}

.webglviewport canvas
{
    opacity: 1;
}