#sidebar 
{
    float: right;
    height: 100%;
    width: 400px;
    background-color: #00796B;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 3;
    transition: all .4s ease-in-out;
}

#sidebar a
{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    transition: all 0.2s ease;
}

#sidebar a:hover
{
    color: rgba(255,255,255,1);
}

#sidebar .title 
{
    font-size: 20px;
	margin-top: 40px;
	text-align: center;
    line-height: 50px;
    margin-bottom: -20px;
}

/* * * * * ANNOUNCEMENTS * * * * */

#sidebar .announcements 
{
	margin-top: 40px;
    width: 100%;
	height: 400px;
}

#sidebar .announcements .body
{
    width: 295px; /* 75% of the sidebar factoring margin */
    height: 100%;
    float: left;
    margin-left: 5px;
}

#sidebar .announcements .sourceicon
{
    width: 100px;
    height: 56px;
    margin-top: -9px;
    margin-left: 330px;
    overflow: hidden;
    position: fixed;
    opacity: 0.25;
}

#sidebar .announcements h4
{
	text-align: center;
    background-color: #4DB6AC;
    height: 40px;
    line-height: 40px;
    font-weight: 100;
}

#sidebar .announcement 
{
    width: 100%;
    height: 65px;
    border-bottom: solid 1px #4DB6AC;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#sidebar .announcement p
{
    margin-left: 5px;
    margin-right: 5px;
}

#sidebar .announcement .timePosted
{
    font-weight: 100;
    font-size: 12px;
    float: right;
    margin-right: 4px;
    margin-top: 48px;
}

/* * * * * SOCIAL * * * * */

#sidebar .social 
{
    width: 100%;
    height: 30px;
    bottom: 0;
    position: absolute;
    text-align: center;
    border-top: 1px dashed #4DB6AC;
    padding-top: 10px;
}

#sidebar .social .facebook,
#sidebar .social .twitter,
#sidebar .social .google
{
    width: 40px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    opacity: 0.8;
    cursor: pointer;
    transition: all .2s ease;
}

#sidebar .social .facebook:hover,
#sidebar .social .twitter:hover,
#sidebar .social .google:hover
{
    opacity: 1;
}

#sidebar .social .facebook
{
    background-image: url(../../assets/images/social/facebook.png);
    margin-right: 10px;
    margin-left: calc(50% - 58px);
}

#sidebar .social .twitter
{

    background-image: url(../../assets/images/social/twitter.png);
    margin-right: 10px;
}

#sidebar .social .google
{
    background-image: url(../../assets/images/social/google.png);
}

#sidebar .activityHubCircularButton
{
    background-color: #C51162;
    background-image: url(../../assets/images/icons/ic_event_white_48px.svg);
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 14px;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 25px;
    position: fixed;
    cursor: pointer;
    z-index: 12;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: none;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* * * * * RESPONSIVE CODE SPACE * * * * */

@media screen and (max-width: 1440px) {
    #sidebar 
    {
        right: -100%;
    }
    
    #sidebar.active
    {
        right: 0px;
    }
    
    #sidebar .activityHubCircularButton
    {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #sidebar 
    {
        right: -100%;
        width: 100%;
    }
    
    #sidebar.active
    {
        right: 0px;
    }
    
    #sidebar .activityHubCircularButton
    {
        display: block;
    }
    
    #sidebar .announcements .sourceicon
    {
        margin-left: 83%;
    }
}

@media screen and (max-width: 370px) {
    
    #sidebar .announcements .body
    {
        width: 70%;
    }
    
    #sidebar .announcement
    {
        height: 80px;
    }
    
    #sidebar .announcement .timePosted
    {
        margin-top: 60px;
    }
    
    #sidebar .announcements .sourceicon
    {
        margin-top: 2px;
        margin-left: 78%;
    }
    
    #sidebar .social .facebook
    {
        margin-left: 10px;
    }
}