.contentBackground
{
    background-color: #EEEEEE;
    margin-top: 600px;
    padding-top: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-image: url(../../assets/images/icons/dotPatternE0E0E0.png);
    background-size: 16px;
}

.parallaxImageBG
{
    background-color: white;
    background-image: url('../images/background-test.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -4;
    top: 0px;
    position: fixed;
}

.parallaxImageBGtransition
{
    background-image: url('');
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -3;
    display: none;
    top: 0px;
    position: fixed;
}

.pcontainer
{
    width: calc(100% - 400px);
    height: 600px;
    position: absolute;
    opacity: 0.7;
    transition: all .5s ease;
}

.pcontainer:hover .slideButton
{
    opacity: 0.7;
}

.pcontainer:hover
{
    opacity: 0.8;
}

.pcontainer .ucontainer
{
    margin-top: 75px;
    text-align: center;   
    font-size: 52px;
    font-weight: 900; 
}

.pcontainer .mcontainer
{
    display: inline-block;
    width: 250px;
    height: 40px;
    border: solid 2px black;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 60px;
    font-size: 30px;
    background-color: black;
    color: white;
}

.pcontainer .mcontainer.left,
.pcontainer .mcontainer.middle,
.pcontainer .mcontainer.right
{
    text-align: center;
}

.pcontainer .mcontainer.right
{
    margin-right: 0px;
}

.pcontainer .threeword
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pcontainer .slideButton
{
    background-color: black;
    opacity: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    transition: all .4s ease-in-out;
    cursor: pointer;
    margin-top: -48px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
}

.pcontainer .slideButton:hover
{
    opacity: 0.9;
}

.pcontainer .slideButton.previous
{
    background-image: url(../../assets/images/icons/ic_keyboard_arrow_left_white_48px.svg);
    margin-left: 25px;
    left: 0;
}

.pcontainer .slideButton.next
{
    background-image: url(../../assets/images/icons/ic_keyboard_arrow_right_white_48px.svg);
    margin-right: 25px;
    right: 0;
}

.pcontainer .dcontainer
{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    text-align: justify;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 200;
    border-radius: 5px;
}

/* * * * * RESPONSIVE CODE SPACE * * * * */

@media screen and (max-width: 1440px) {
    .pcontainer 
    {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .pcontainer .slideButton
    {
        margin-top: 3px;
    }
}

@media screen and (max-width: 900px) {
    .threeword
    {
        width: 250px;
    }
    
    .pcontainer .mcontainer
    {
        margin-top: 16px;
    }
    
    .pcontainer .ucontainer
    {
        margin-top: 30px;
        margin-bottom: 16px;
        font-size: 42px;
    }
    
    .pcontainer .dcontainer
    {
        margin-top: 54px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .pcontainer .ucontainer
    {
        font-size: 36px;
    }
    .pcontainer .dcontainer
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .pcontainer .dcontainer
    {
        font-size: 14px;
    }
}


@media screen and (max-width: 300px) {
    .pcontainer .dcontainer
    {
        width: 92%;
        margin-left: 0px;
        border-radius: 0px;
    }
}